body{
    background-color: black;
    color: white;
}
*{
    margin: 0;
    padding: 0;
}

nav{
    padding: 5px;
    display: grid;
    /* display: flex; */
    /* grid-template-columns: 200px 250px 250px 550px 100px; */
    grid-template-columns: 200px 250px 550px 80px;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(38, 38, 39, 0.912);
    height: 8vh;
    position: sticky;
    top: 0;
    z-index: 50;
    margin: 0 0 10px 0;
    /* width: 100vw; */
}

#theme{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
}
#theme>img{
    height: 80%;
    width: 80%;
}
nav>h1{
    color: rgb(255,101,10);
}

/* #home-button{
    background-color: transparent;
    color: rgb(255,101,10);
    font-size: 1rem;
} */

nav select:focus, nav input:focus{
    outline: none;
}

nav select{
    background-color: black;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255,101,10);
    height: 60%;
    border-radius: 20px;
    text-align: center;
}

nav>div{
    height: 100%;
    /* align-content: center; */
    display: flex;
    align-items: center;
    justify-content: center;
}

nav input{
    border: 1px solid rgb(255,101,10);
    color: white;
    height: 60%;
    width: 80%;
    border-radius: 20px;
    text-align: center;
    transition: 0.3s;
    background-color: black;
    margin-right: 20px;
}

nav input:focus{
    border: 2px solid rgb(255,101,10);
}

nav input::placeholder{
    text-align: center;
    color: white;
}

nav button{
    background-color: rgb(255,101,10);
    border: none;
    color: white;
    height: 60%;
    width: 20%;
    border-radius: 20px;
    transition: 0.3s;
}

nav button:hover{
    transform: scale(1.1);
}

nav button:active{
    background-color: rgb(196, 91, 30);
}

.cards img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: 0.3s;
}

/* #score{
    color: gold;
} */

#cards-container{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
}
.cards:hover{
    /* opacity: 0.2; */
    transform: scale(1.1);
    cursor: pointer;
    color: rgb(27,27,26);
    box-shadow: 0 0 15px red;
}
.cards{
    position: relative;
    row-gap: 7px;
    background-color: rgb(27,27,26);
    display:grid;
    grid-template-rows :260px 1fr 1fr;
    height: auto;
    width:180px;
    justify-content:center;
    align-items: center;
    transition: 0.3s;
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
}

.cards span{
    /* font-weight: 100; */
    /* color: gold; */
    font-size: small;
    text-align: center;
}

/* .cards>span>span{
    color: gold;
} */

#mal-score{
    color: gold;
}

#hover-effect{
    /* display: none; */
    color: white;
    border-radius: 10px;
    height: 95%;
    width: 180px;
    padding: 10px;
    background-color: hsla(60, 2%, 10%, 0.822);
    position: absolute;
    top: 0;
    opacity: 0;
    transition: 0.3s;
    text-align: center;
    display: grid;
    grid-template-rows: 2fr 1fr 1fr 4fr;
    row-gap: 10px;
    justify-content: space-evenly;
    align-items: center;
}
#hover-effect:hover{
    opacity: 1;
}

#hover-effect p{
    color: rgb(188, 187, 187);
}

#hover-effect span{
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 10;
    line-clamp: 10;
    overflow: hidden;
}

#heading{
    margin-left: 20px;
}


.loading{
    margin-top: 30vh;
    height: 60px;
    width: 60px;
    border-top: 2px solid rgb(255,101,10);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}



.light{
    background-color: rgb(244, 238, 232);
    color: black;
}

.light nav{
    background-color: rgba(255, 255, 255, 0.65);
}
.light select{
    background-color: white;
    color: black;
    border-color: black;
}
.light input::placeholder{
    color: black;
}
.light input{
    background-color: white;
    color: black;
    border-color: black;
}

.light .cards{
    background-color:rgb(247,249,251);
    box-shadow: 1px 1px 5px black;
}
.light #hover-effect{
    background-color: rgba(255, 255, 255, 0.785);
    color: rgb(84, 84, 84);
}
.light p #mal-score{
    color: rgb(255, 115, 0);
}

.light .cards:hover{
    color: transparent;
}

.light #hover-effect p{
    color: rgb(66, 66, 66);
}